<ul class="list-group">
    <li *ngFor="let task of tasks " class="list-group-item ">
        <div class="custom-control custom-checkbox auto">
            <input type="checkbox" (change)="onTaskChange($event,task)" class="custom-control-input" id="task{{task.id}}" name="task{{ task.id }}" [checked]="task.completed ">
            <label class="custom-control-label" for="task{{task.id}}"><span ngClass="{{task.completed ? 'name completed' : 'name'}} ">{{ task.name }}</span></label>
            <button (click)="delete(task)" class="badge-pill badge-danger float-right">Delete</button>
            <span class="label {{ getDueDateLabel(task) }} float-right "> {{ task.dueDate }}</span>
        </div>
    </li>
</ul>